<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salas</title>
    <link rel="stylesheet" href="/habitacion.css">
    <link rel="shortcut icon" href="/img/silla.ico" type="image/x-icon">
</head>

<body>

    <header>
        <div class="container">
             <img class="imglogo=" src="/img/silla.ico" alt="">

            <nav>
                <ul>
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/contactos">Contacto</a></li>
                    <li><a href="/terraza">terraza</a></li>
                    <li><a href="/comedor_de_exteriores">Comedor de exteriores</a></li>
                    <li><a href="/camastros">Camastros</a></li>
                    <li><a href="/sala">Salas</a></li>
                    <li><a href="/habitacion">habitacion</a></li>
                    <li><a href="/niños">Niños</a></li>
                    <li><a href="/niñas">Niñas</a></li>
                   
                </ul>
                
            </nav>
        </div>
    </header>
    <aside class="social-icons">
        <a href="https://www.facebook.com/"><img src="/img/facebook.ico" alt="Facebook"></a>
        <a href="https://twitter.com/"><img src="/img/gorjeo.ico" alt="Twitter"></a>
        <a href="https://www.instagram.com/"><img src="/img/instagram.ico" alt="Instagram"></a>
    </aside>
    
    <section id="productos">
        <div class="container">
            <h2>Productos Disponibles Para Habitaciones</h2>
            <div class="product">
                <img src="/img/cama1.jpeg" alt="Producto 1">
                <h3>Sala Basica embonada</h3>
                <p class="price">$3'500.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="product">
                <img src="/img/cama2.jpeg" alt="Producto 2">
                <h3>Sala En Colores De Otoño</h3>
                <p class="price">$4'600.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="product">
                <img src="/img/sala3.jpeg" alt="Producto 2">
                <h3>Sala Moderna Belarus</h3>
                <p class="price">$6'000.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="product">
                <img src="/img/sala5.jpeg" alt="Producto 2">
                <h3>Sala Chester</h3>
                <p class="price">$950.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="product">
                <img src="/img/sala6.jpeg" alt="Producto 2">
                <h3>Muebles de sala color blanco </h3>
                <p class="price">$1'050.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="product">
                <img src="/img/sala7.jpeg" alt="Producto 2">
                <h3>Sala tipo L Color Blanco</h3>
                <p class="price">$1'950.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="product">
                <img src="/img/sala8.jpeg" alt="Producto 2">
                <h3>Sala Aria Sorf Gris</h3>
                <p class="price">$5'000.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>


            <!-- Agregar más productos según sea necesario -->
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; 2024 JORGE-MUEBLES. Todos los derechos reservados.</p>
            <ul class="footer-links">
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            
        </div>
    </footer>
    
    
</body>
</html>