<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitacion</title>
    <link rel="stylesheet" href="/habitacion.css">
    <link rel="shortcut icon" href="/img/silla.ico" type="image/x-icon">
</head>

<body>

    <header>
        <div class="container">
             <img class="imglogo=" src="/img/silla.ico" alt="">

            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="productos">Productos</a></li>
                    <li><a href="contactos">Contacto</a></li>
                    <li><a href="terraza">terraza</a></li>
                    <li><a href="comedor">Comedor</a></li>
                    <li><a href="camastros">Camastros</a></li>
                    <li><a href="sala">Salas</a></li>
                    <li><a href="habitacion">habitacion</a></li>
                   
                   
                </ul>
                
            </nav>
        </div>
    </header>
    <aside class="social-icons">
        <a href="https://www.facebook.com/"><img src="/img/facebook.ico" alt="Facebook"></a>
        <a href="https://twitter.com/"><img src="/img/gorjeo.ico" alt="Twitter"></a>
        <a href="https://www.instagram.com/"><img src="/img/instagram.ico" alt="Instagram"></a>
    </aside>
    
    <section id="productos">
        <div class="container">
            <h2>Productos Disponibles Para Habitaciones</h2>
            <div class="product">
                <img src="/img/cama1.jpeg" alt="Producto 1">
                <h3>Sala Basica embonada</h3>
                <p class="price">$3'500.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="product">
                <img src="/img/cama2.jpeg" alt="Producto 2">
                <h3>cama En Colores grices</h3>
                <p class="price">$8'600.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="product">
                <img src="/img/cama3.jpeg" alt="Producto 2">
                <h3>cama Moderna Belarus</h3>
                <p class="price">$7'000.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="product">
                <img src="/img/cama4.jpeg" alt="Producto 2">
                <h3>cama en tonos oscuros </h3>
                <p class="price">$9'500.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="product">
                <img src="/img/cama5.jpeg" alt="Producto 2">
                <h3>Muebles para habitacion en tono amaderado </h3>
                <p class="price">$10'050.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="product">
                <img src="/img/cama6.jpeg" alt="Producto 2">
                <h3>cama y accesorios en tono primaveral</h3>
                <p class="price">$12'950.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            

         
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; 2024 JORGE-MUEBLES. Todos los derechos reservados.</p>
            <ul class="footer-links">
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            
        </div>
    </footer>
    
    
</body>
</html>