<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/silla.css">
    <link rel="shortcut icon" href="/img/silla.ico" type="image/x-icon">
</head>

<body>

    <header>
        <div class="container">
             <img class="imglogo=" src="/img/silla.ico" alt="">

            <nav>
                <ul>
                    <li><a href="/index">Inicio</a></li>
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/contactos">Contacto</a></li>
                    <li><a href="/terraza">terraza</a></li>
                    <li><a href="/comedor_de_exteriores">Comedor de exteriores</a></li>
                    <li><a href="/camastros">Camastros</a></li>
                    <li><a href="/sala">Salas</a></li>
                    <li><a href="/habitacion">habitacion</a></li>
                   
                </ul>
                
            </nav>
        </div>
    </header>
    <aside class="social-icons">
        <a href="https://www.facebook.com/"><img src="/img/facebook.ico" alt="Facebook"></a>
        <a href="https://twitter.com/"><img src="/img/gorjeo.ico" alt="Twitter"></a>
        <a href="https://www.instagram.com/"><img src="/img/instagram.ico" alt="Instagram"></a>
    </aside>
    
    <section id="productos">
        <div class="container">
            <h2>Sillas Disponibles</h2>
            <div class="product">
                <img src="/img/silla 1.jpeg" alt="Producto 1">
                <h3>Silla Exterior Rattan Sintético Celeste</h3>
                <p class="price">$350.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="product">
                <img src="/img/silla 3.jpeg" alt="Producto 2">
                <h3>Silla tipo nido colgante</h3>
                <p class="price">$400.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="product">
                <img src="/img/silla 4.jpeg" alt="Producto 2">
                <h3>Sillas de diseño para decorar</h3>
                <p class="price">$600.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>
            <div class="product">
                <img src="/img/silla 5.jpeg" alt="Producto 2">
                <h3>Sillón Colgante Rattan Sintético Wengué</h3>
                <p class="price">$950.000.0</p>
                <a href="#" class="btn">Comprar</a>
            </div>

            <!-- Agregar más productos según sea necesario -->
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; 2024 JORGE-MUEBLES. Todos los derechos reservados.</p>
            <ul class="footer-links">
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            
        </div>
    </footer>
    
    
</body>
</html>