<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JORGE-MUEBLES</title>
    <link rel="stylesheet" href="/terraza.css"> 
    <link rel="shortcut icon" href="/img/silla.ico" type="image/x-icon">
    
</head>
<body>
    <header>
        <div class="container">
             <img class="imglogo=" src="/img/silla.ico" alt="">

            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="productos">Productos</a></li>
                    <li><a href="contactos">Contacto</a></li>
                    <li><a href="sillas">Sillas</a></li>
                    <li><a href="camastros">Camastros</a></li>
                    <li><a href="comedor">Comedor</a></li>
                </ul>
                
            </nav>
        </div>
    </header>
    
    
    <main>
        <aside class="social-icons">
            <a href="https://www.facebook.com/"><img src="/img/facebook.ico" alt="Facebook"></a>
            <a href="https://twitter.com/"><img src="/img/gorjeo.ico" alt="Twitter"></a>
            <a href="https://www.instagram.com/"><img src="/img/instagram.ico" alt="Instagram"></a>
        </aside>
        
        <section id="destacados">
            <div class="container">
                <h2>Productos Destacados Para Terraza</h2>
                <div class="product">
                    <img src="/img/images (1).jpeg" alt="Producto 1">
                    <h3>Producto 1</h3>
                    <p class="price">$5'000.000.0</p>
                    <a href="#" class="btn">Comprar</a>
                </div>
                
            </div>
        </section>
        
        <section id="productos">
            <div class="container">
                <h2>Todos los Productos</h2>
                <div class="product">
                    <img src="/img/images.jpeg" alt="Producto 2">
                    <h3>Producto 2</h3>
                    <p class="price">$4'000.000.0</p>
                    <a href="#" class="btn">Comprar</a>
                </div>
                
            </div>
        </section>
    </main>
    
    <footer>
       
        <div class="container">
            <p>&copy; 2024 JORGE-MUEBLES. Todos los derechos reservados.</p>
            <ul class="footer-links">
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Política de Privacidad</a></li>
                <li><a href="#">Contacto</a></li>
               
            </ul>
            
        </div>
    </footer>
</body>
</html>
